*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body ,html{
  width: 100%  ;
  height: 100%;
  background-color: #ffffff;
}
.card{
  width: 20%;
  background-color: #464444;
  color: #fff;
  margin: 20px 20px;
  padding: 25px;
  border-radius: 8px;
}
.card p{
  padding: 20px 20px 20px 20px;
}

.card button{
  border: none;
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

.navbar ul li{
   display: inline-block;
   margin-left: 60px;

}

.card  h1{
  text-align: center;
  padding-bottom: 20px;
}
.card img{
  width: 140px;
  height: 140px;
  display: block;
  border-radius: 100%;
  object-fit: cover;
  margin: 0 auto;
  
  
 
}